
#top {
    position: fixed;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    z-index: 9995;
    background-color: #2b3643;
    width: 100%;  
    padding: 0 20px 0 20px;  
    margin: 0px;  
    border: 0px;  padding: 0px;  
    box-shadow: none;  
    height: 46px;  
    min-height: 46px;  filter: none;  
    background-image: none;
    top: 0%;
    left: 0%;
}
.user-menu .dropdown-menu{
    left: -167px;
    background-color: slategray;
}
#top .page-logo {
float: left;
display: block;
width: 235px;
height: 46px;
padding-left: 5px;
padding-right: 20px;
padding-top: 20px;
}
#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    /* background-color: #364150; */
    padding: 5px;
    width: 16%;
    margin-top: 2%;
    margin-left: 0%;
    /* clear: both; */
    font-size: 12px;
    min-height: 2500px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #f9f9f9;
    padding: 5px;
    /* margin-left: 170px; */
    margin-top: 3.5%;
    clear: both;
    position: fixed;
    left: 18.1%;
    top: -0.1%;
    width: 82%;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  /* color: black; */
  font-weight : bold;
  text-decoration : underline;
}


.row{
    width: 28%;
    height: 20%;
    float: left;
    margin-right: 48px;
    margin-bottom: 171px;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive !important;
}
.row_content{
    display: none;
}
.row_header{
    
    border-radius: 1px #036fab;
    width: 128px;
}
.products_header{
    
}


.image_container{
    border-radius: 88px;
}
.sr-only{
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0,0,0,0);
border: 0;

}
.glyphicon {
position: relative;
top: 1px;
display: inline-block;
font-family: 'Glyphicons Halflings';
font-style: normal;
font-weight: 400;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.glyphicon-user:before {
content: "*";
}
.navbar .nav>li>.dropdown-menu .user-menu:after{
    display: inline-block;
    left:262px;
    top:-17px;
}