
#top {
    position: fixed;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    z-index: 9995;
    background-color: #2b3643;
    width: 100%;  
    padding: 0 20px 0 20px;  
    margin: 0px;  
    border: 0px;  padding: 0px;  
    box-shadow: none;  
    height: 46px;  
    min-height: 46px;  filter: none;  
    background-image: none;
    top: 0%;
    left: 0%;
}
.user-menu .dropdown-menu{
    left: -167px;
    background-color: slategray;
}
#top .page-logo {
    float: left;
    display: block;
    width: 235px;
    height: 46px;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 20px;
}
#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #f9f9f9;
    padding: 5px;
    width: 18%;
    margin-top: 2%;
    margin-left: 0%;
    /* clear: both; */
    font-size: 14px;
    min-height: 2500px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #f9f9f9;
    padding: 5px;
    /* margin-left: 0%; */
    /*margin-top: -33.5%;*/
    clear: both;
    position: absolute;
    left: 18.7%;
    top: 7.9%;
    width: 84%;
    overflow: auto;
    float: left;
    margin-bottom: 3%;
}
#footer{
    position: fixed;
    background-color: #c2dfef;
    padding: 5px;
    margin: 27px 4px 0px 0px;
    background: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0 #C4C4C4;
    border: 1px solid #A8A8A8;
    color: #333333;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    bottom: 0px;
    width: 100%;
}
.row_container{
    margin-bottom: 2%;
    margin-right: 4%;
}
.row_container .ui-panel .ui-widget-header{
    background: #156CDD;
    background: #c4c4c4 -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    color: #F7F7F6;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(11, 3, 3, 0.7);
}
.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    /* color: black; */
    font-weight : bold;
    text-decoration : underline;
}


.row_dashboard{
    width: 41%;
    height: 36%;
    /* min-height: 131px; */
    float: left;
    margin-right: -5px;
    margin-bottom: 20px;
    margin-left: 5%;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive !important;
    /* font-size: 41px; */
    /* clear: both; */
}
.row_content{
    display: none;
}
.row_header{

    border-radius: 1px #036fab;
    width: 128px;
}
.products_header{

}


.image_container{
    border-radius: 88px;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;

}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon-user:before {
    content: "*";
}
.navbar .nav>li>.dropdown-menu .user-menu:after{
    display: inline-block;
    left:262px;
    top:-17px;
}
.form-row{
   width:100%; 
   float: left;
   margin-bottom: 5px;
}
.form-control{
    float: left;
    /* margin-right: 4px; */
    /* padding: 5px; */
    font-size: 12px;
    margin-left: -14px;
}
.col-2{
    width: 15%;
    margin-right: 0px;
}
.col-4{
    width: 20%;
    margin-right: 16%;
}
.controlls{
    width: 100%
;
    /* position: absolute; */
    /* top: 2%; */
    /* left: 20%; */
    margin-bottom: 2%;
    float: left;
}
.data_display{
    /* background: yellowgreen; */
    /* position: absolute; */
    top: 10%;
    left: 30%;
    float: left;
}
.form-group{
    /* background: blueviolet; */
    /* float: left; */
    margin-bottom: 2%;
}